@import '@fontsource-variable/public-sans';
@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';
@import '@fontsource-variable/dm-sans';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/nunito-sans';
@import '../../shared/ui/Chart/styles.css';
@import '../../shared/ui/Scrollbar/styles.css';

@font-face {
  font-family: 'Cafe Receipt Go Mono';
  src: url('/fonts/receipt/Go-Mono.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Cafe Receipt Go Mono';
  src: url('/fonts/receipt/Go-Mono-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700 900;
  font-display: swap;
}

html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root-layout {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input[type='number'] {
  appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
